
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus , .navbar-default .navbar-nav > li > a {
	color: $brand-primary;
}

.inserate-list {
	border: 1px solid #eeeeee;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
	background: #fff;
}

.inserate-list > hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.delete-button {
	display: inline;
}

body {
	background: linear-gradient(to bottom, #ededed 0%, #ededed 50px, #ffffff 100%);
	background-repeat: no-repeat;
	background-color: #ffffff;
	padding-bottom: 40px;
}

.home-flex {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.home-flex > .btn {
	padding: 20px 40px;
	margin-top: 20px;
	margin-bottom: 25px;
}

.homepage {
    margin: 0 auto;
    display: block;
    font-size: 1.5em;
    margin-top: -34px;
}

.up-logo {
    margin-top: 5px;
    float: left;
    margin-right: 15px;
}

.inserate-own-buttons {
    margin-top: 7px;
}
