
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-default .navbar-brand {
	color: #003f60;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #003f60;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #003f60;
}

.navbar-default .navbar-nav > li > a {
	color: #003f60;
}

.inserate-list {
	border: 1px solid #eeeeee;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
	background: #fff;
}

.inserate-list > hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.inserate-list > form {
	display: inline;
}